// *{
//     backgroundcolor: #4242422c;
//     backgroundcolor: #e7e7e7;
// }

.container-g-faq{
    padding: 40px 0;
}


.custom-faq-container {
    padding: 20px; // Exemplo de padding
    border-radius: 10px; // Exemplo de border-radius
    background-color: #4242422c; // Apenas um exemplo, ajuste conforme necessário
}