
 
$textColor: #ffffff;
$strokeColor: rgba(255, 255, 255, 0.5);
$surfaceColor: rgba(255, 255, 255, 0.1);
$highLightColor: rgba(255, 255, 255, 0.2);




#container-social{
    width: 100%;
    max-width: 588px;
    margin: 56px auto auto auto;
    padding: 0 24px;
}

#profile{
    padding: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

#profile p{
    font-weight: 500;
}

#profile img{
    border-radius: 40px;
    width: 112px;
    //Não deixar o usuario arrastar a imagem
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

//O que está comentado não está sendo usado no momento

/* switch */

// #switch{
//     display: none;
//     width: 64px;
//     position: relative;
//     margin: 4px auto;
// }

// #switch button{
//     width: 32px;
//     height: 32px;
//     background: #fff var(--switchBgUrl) no-repeat center;
//     border: 0;
//     border-radius: 50%;
//     position: absolute;
//     z-index: 1;
//     right: 0;
//     animation: slideOut .4s;
//     top: 50%;
//     transform:  translateY(-50%);
//     transition: .3s;
// }

// #switch button:hover{
//     cursor: pointer;
//     box-shadow: 0px 0px 5px 3px var(--highLightColor);
// }

// #switch span{
//     display: block;
//     width: 64px;
//     height: 24px;
//     background: var(--surfaceColor);
//     border: 1px solid var(--strokeColor);
//     border-radius: 9999px;
//     backdrop-filter: blur(4px);
// }

/* .light #switch button{
    animation: slideIn .4s forwards;
} */

/* Animação */

// @keyframes slideIn {
//     0%{
//         right: 0;
//     }
//     100%{
//         right: 50%;
//     }
// }

// @keyframes slideOut{
//     0%{
//         left: 0;
//     }
//     100%{
//         left: 50%;
//     }
// }



/* Lista de links */

.lista-links{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;
}

.lista-links li a{
    padding: 16px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    background: $surfaceColor;
    border: 1px solid $strokeColor;
    border-radius: 8px;
    backdrop-filter: blur(4px);
    text-decoration: none;
    font-weight: 500;
    transition: .3s;
    color: $textColor;
}

.lista-links li a:hover {
    background: $strokeColor;
    border: 1.5px solid $textColor;
}

#socialLinks-socials{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    font-size: 24px;
}

#socialLinks-socials a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border-radius: 50%;
    transition: background .3s;
    color: $textColor;
}

#socialLinks-socials a:hover{
    background: $highLightColor;
    padding: 16px;
    
}

.footer-socials{
    font-size: 14px;
    text-align: center;
    padding: 24px;
}

.footer-socials a{
    text-decoration: none;
    color: $textColor;
}

.footer-socials a span{
    font-weight: 500;
}




/* Reponsivo */




@media (max-width: 700px){

    .footer-socials{
        font-size: 12px;
    }
}