//Animação de entrada FadeIn
.hero, .objectpage, .slider, .forms, .faaq, .seo {
    opacity: 0;
    // transform: translateY(20px);
    transition: opacity 3s ease-out, transform 3s ease-out;
}

.hero.animate, .objectpage.animate, .slider.animate, .forms.animate, .faaq.animate, .seo.animate {
    opacity: 1;
    // transform: translateY(0);
}

//Fim da animação FadeIn








.container-Englobador{
    padding: 0 6%;
}



.logo{
    text-decoration: none #fff;
    transition: text-decoration 2s ease-in-out ;
}

.logo:hover{
    text-decoration: underline #c10528;
}



// Responsividade mob 1024px

@media (max-width: 1024px) {
    .container-Englobador{
        padding: 0 5%;
    }
}
