

.container-Englobador{
    padding: 4% 6%;
}



.header{
    text-decoration: none #fff;
    transition: text-decoration 2s ease-in-out ;
}

.header:hover{
    text-decoration: underline #c10528;
}



// Responsividade mob 1024px

@media (max-width: 1024px) {
    .container-Englobador{
        padding: 3% 5%;
    }
}
