header {
    transition: 1s ease;
    position: inherit;
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, #00000059 65%, transparent 100%);
    height: 90px;

    img {
        width: 300px;
        border-radius: 15px;
    }
}

.logo {
    position: relative;
    margin-top: 5px;
    color: #fff;
    transition: opacity 0.3s ease, transform 0.3s ease;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0; // Garante que o pseudo-elemento se estenda por toda a largura
        height: 3px;
        background-color: #fff;
        transform: scaleX(0); // Começa sem ser estendido
        transition: transform 0.5s ease; // Transição suave para o transform
        transform-origin: left; // Inicia a transformação da esquerda para a direita
    }

    &:hover::after {
        transform: scaleX(1); // Estende o pseudo-elemento para a largura total no hover
    }
}