header {
    transition: 1s ease;
    position: inherit;
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, #00000059 65%, transparent 100%);
    height: 90px;

    img {
        transition: opacity 0.3s ease;
        width: 300px;
        border-radius: 15px;
        // animation: slide-in-fwd-center 2s ease;
        &:hover {
            opacity: 0.75; // Diminui a opacidade ao passar o mouse
        }
    }
}


//ainda não usado animação de entrada preicsa ser ajusatado para somente ativar a animação após o preloader sumir
  @keyframes slide-in-fwd-center {
    0% {
      -webkit-transform: translateZ(-1400px);
              transform: translateZ(-1400px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }