.container-nav-menu{
    display: flex;
    justify-content: center;
    // background-color: #0000002a; /* Cor de fundo suave */
    padding: 20px; /* Espaçamento interno para não colar o conteúdo nas bordas */
    border-radius: 20px; /* Bordas arredondadas para suavidade */
    height: 400px;
    gap: 10px;
    align-items: center;
}

.nav-and-content{
    display: flex;
    height: 300px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.navMenu{
    text-align: center;
    width: 750px;
}

.navMenu button {
    font-family: "kanit";
    font-weight: 100;
    font-size: 28px;
    color: #fff;
    border: none;
    background: none;
    padding: 10px;
    cursor: pointer;
    transition: border-bottom 0.4s ease-in-out;
    border-bottom: 1px solid transparent; /* Estado inicial transparente */
}

/* Aplica o hover apenas a botões que não têm a classe .active */
.navMenu button:not(.active):hover {
    border-bottom: 1px solid #ffffff5e; /* Transição para branco no hover */
}

.navMenu .active {
    color: #fff;
    border-bottom: 1px solid #07a06f; /* Transição para azul no ativo */
}

.content-p {
    font-family: "Playwrite NG Modern";
    font-style: italic;
    font-size: 38px;
    font-weight: 200;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    transition: opacity 0.4s ease-in-out;
    opacity: 1;
    cursor: context-menu;
}

  
  .content-p.hidden {
    opacity: 0;
  }



//container imagem

.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;

    img{
        width: 500px;
        object-fit: contain;
    }
}

.smooth-transition {
    transition: opacity .4s ease-in-out;
    opacity: 1;
}




//Responsividade tela Big Tela 1440px
@media (min-width: 1480px) {
    .container-nav-menu{
        height: 600px;
    }
    .navMenu{
        width: 800px;
    }
    .navMenu button {
        font-size: 30px;
    }
    .content-p {
        font-size: 36px;
    }
    .image-container{
        width: 700px;
        height: 450px;
    
        img{
            width: 560px;
            
        }
    }
}


  


  // Responsividade mob 1024px

    @media (max-width: 1024px) {
        .container-nav-menu{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 500px;
        }
        .container-nav-menu{
            flex-direction: column;
        }

        .navMenu{
            width: 100%;
            display: flex;
            justify-content: center;
        }

        .navMenu button {
            font-size: 12px;
            padding: 3px 3px;
        }

        .content-p {
            font-size: 16px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 200px;
        }
        .nav-and-content{
            height: 170px;
        }

        .image-container{
            width: 200px;
            height: 300px;
        
            img{
                width: 300px;
                object-fit: contain;
            }
        }
    }




//Reponsisvo especial para imagem do objectpage

@media (min-width: 1025px) and (max-width: 1260px){
    .container-nav-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        gap: 20px;
    }
    .navMenu{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .navMenu button {
        font-size: 22px;
        padding: 3px 3px;
    }

    .content-p {
        font-size: 24px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 300px;
    }
    .nav-and-content{
        height: 170px;
    }

    .image-container{
        width: 450px;
        height: 300px;
    
        img{
            width: 100%;
            object-fit: contain;
        }
    }
}