.container-nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: #0000002a; /* Cor de fundo suave */
    padding: 20px; /* Espaçamento interno para não colar o conteúdo nas bordas */
    border-radius: 20px; /* Bordas arredondadas para suavidade */
}

.nav-and-content{
    display: flex;
    height: 300px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.navMenu{
    text-align: center;
    width: 600px;
}

.navMenu button {
    font-family: "kanit";
    font-weight: 100;
    font-size: 18px;
    color: #fff;
    border: none;
    background: none;
    padding: 10px;
    cursor: pointer;
    transition: border-bottom 0.4s ease-in-out;
    border-bottom: 1px solid transparent; /* Estado inicial transparente */
}

/* Aplica o hover apenas a botões que não têm a classe .active */
.navMenu button:not(.active):hover {
    border-bottom: 1px solid #ffffff5e; /* Transição para branco no hover */
}

.navMenu .active {
    color: #fff;
    border-bottom: 1px solid #ff313050; /* Transição para azul no ativo */
}

.content {
    font-family: "Playwrite NG Modern";
    font-style: italic;
    font-size: 34px;
    font-weight: 200;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    transition: opacity 0.4s ease-in-out;
    opacity: 1;
    cursor: context-menu;
}

  
  .content.hidden {
    opacity: 0;
  }



//container imagem

.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;

    img{
        width: 350px;
        object-fit: contain;
    }
}

.smooth-transition {
    transition: opacity .4s ease-in-out;
    opacity: 1;
}




  


  // Responsividade mob 1024px

    @media (max-width: 1024px) {
        .container-nav-menu{
            flex-direction: column;
        }

        .navMenu{
            width: 100%;
            display: flex;
            justify-content: center;
        }

        .navMenu button {
            font-size: 12px;
            padding: 3px 3px;
        }

        .content {
            font-size: 16px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 200px;
        }
        .nav-and-content{
            height: 170px;
        }

        .image-container{
            width: 200px;
            height: 300px;
        
            img{
                width: 300px;
                object-fit: contain;
            }
        }
    }