
.container-g-slider{
  border: 1px solid green;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.carousel-container{
  border: 1px solid red;
  width: 500px;
  height: 350px;
  display: flex;
  // padding: 20px;
}

.carousel-item{
  padding: 40px;
  border: 1px solid orangered;
  
  .container-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  img{
    width: 150px;
  }
}

